:javascript
  window.distances = #{@distances.to_json};
  window.picks = #{@picks.to_json};
  window.cart_routes = #{@cart_routes.to_json};
.row
  .large-8.columns
    .row
      .large-4.columns
        .panel.callout.summary
          %p
            Поездки:
          %ul.inline-list
            %li.red
              = Trip.invalid.count
            %li
              &nbsp;/&nbsp;
            %li.green
              = Trip.count
            %li
              &nbsp;/&nbsp;
            %li.red
              = ((Trip.invalid.count.to_f / Trip.count.to_f)* 100).round.to_s + '%';
      .large-4.columns
        .panel.callout.summary
          %p
            Расстояния(км):
          %ul.inline-list
            %li.red
              = Trip.invalid_distance.to_i
            %li
              &nbsp;/&nbsp;
            %li.green
              = Trip.total_distance.to_i
            %li
              &nbsp;/&nbsp;
            %li.red
              = ((Trip.invalid_distance / Trip.total_distance)* 100).round.to_s + '%';
      .large-4.columns
        .panel.callout.summary
          %p
            Пик загруженности:
          %ul.inline-list
            %li.red
              ?
            %li
              &nbsp;/&nbsp;
            %li
              ?

    .row
      .large-12.columns
        %h5.subheader
          1. Некорректно произведенные поездки
        .row
          .large-12.columns
            %table(width="100%")
              %thead
                %th
                  Номер маршрута
                %th
                  Номер карты
                %th
                  Дата
                %th
                  Вошел
                %th
                  Вышел
                %th
                  Конечная
              %tbody
                - @trips.each do |trip|
                  %tr
                    %td
                      - if trip.point_from
                        = trip.point_from.route.title
                      - else
                        = trip.point_to.route.title
                    %td
                      = trip.card.id
                    %td
                      = trip.created_at
                    %td
                      -if trip.point_from
                        = trip.point_from.title
                    %td
                      -if trip.point_to
                        = trip.point_to.title
                    %td
                      -if trip.point_from
                        = trip.point_from.route.points.last.title
                      - else
                        = trip.point_to.route.points.last.title

    .row
      .large-12.columns
        %h5.subheader
          2. Некорректно преодоленные расстояния (тестовые данные)
        .row
          .large-12.columns
            #distances{:style => "width:100%; height:100%;"}
    .row
      .large-12.columns
        %h5.subheader
          3. Пиковая загруженность транспорта (тестовые данные)
        .row
          .large-12.columns
            #peak{:style => "width:100%; height:400px;"}
    .row
      .large-12.columns
        %h5.subheader
          4. Последнее передвижения по карте ##{params[:card][:id]}
        .row
          .large-12.columns
            #map(style="width:100%; height:400px;")
  .large-4.columns
    .row
      .large-12.columns
        .panel.callout.radius
          / = form_for([@route, @card], url:root_path) do |f|
          %form
            %label
              Маршрут
              %select(name="route[id]")
                %option(value="")
                  Все
                - @routes.each do |route|
                  %option(value="#{route.id}")
                    = route.title
            / %label
            /   Вид транспорта
            /   %select(name="route[kind]")
            /     %option(value="")
            /       Все
            /     - @transports.each do |transport|
            /       %option(value="#{transport.slug}")
            /         = transport.title
            %label
              Номер катрты
              %input(name="card[id]" type="text" required="" value="#{@params[:card][:id]}")
            .row
              .large-6.columns
                %button.small.alert.right(type="reset")
                  Очистити
              .large-6.columns
                %button.small.right(type="submit")
                  Застосувати
