!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=ua&region=ua'
  %body
    %nav.top-bar(data-topbar="" role="navigation")
      %ul.title-area
        %li.name
          %h1
            = link_to(root_path) do
              Dashboard
    %br
    = yield
    / .panel.footer
    /   .text-center
    /     .label.alert
    /       Delfit 2014
    = javascript_include_tag "application"